body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

*, *:after, *:before {
    box-sizing: border-box;
}

/*Header
=======================*/

.header {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header.fixed {
    padding: 10px 0;
    background-color: #1e1e1e;
    box-shadow: 0 3px 10px rgba(0,0,0, .2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translate3d(0,0,0);
}

.header.active {
    background-color: #1e1e1e;
}

/*Intro
=======================*/

.intro {
    position: relative;
    display: flex;
}

.intro__item {
    width: 50%;
}

.intro__item--photo {
    background: url(img/l1.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__item--content {
    position: relative;
    background: url(img/introbg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__item--content:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: 2;
}

.intro__inner {
    width: 80%;
    margin: 200px auto 95px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    z-index: 3;
}

.intro__suptitle {
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    color: #b1976b;
    letter-spacing: 3px;
    font-weight: 600;
}

.intro__title {
    margin: 30px 0;
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    font-weight: 700;
    color: #fff;
    line-height: 1;
}

.intro__text {
    font-size: 16px;
    color: #9f9f9f;
    line-height: 1.5;
}

.intro__text hr {
    display: block;
    width: 100%;
    height: 2px;
    border: 0;
    background-color: #b1976b;
}

.signature {
    margin: 30px 0;
    height: 55px;
    width: 140px;
}

.social__num a {
    text-decoration: none;
    color: inherit;
}

/*Navigation
=======================*/

.nav {
    padding-top: 7px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 3;
}

.nav__link {
    margin-right: 15px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    transition: color .1s linear;
}

.nav__link:hover {
    color: #b1976b;
}

/*Nav toggle
=======================*/

.nav-toggle {
    display: none;
    width: 30px;
    padding: 10px 0;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    font-size: 0;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
}

.nav-toggle:focus {
    outline: 0;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translateX(-2px);
}

.nav-toggle.active .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(-3px);
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: background .2s linear;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #fff;
    left: 0;
    z-index: 1;
    transition: transform .2s linear;
}

.nav-toggle__item:before {
    top: -8px;
}

.nav-toggle__item:after {
    bottom: -8px;
}

/*Social
=======================*/

.social {
    display: flex;
    align-items: center;
}

.social__item {
    margin-right: 20px;
}

.social__item a {
    color: #fff;
    font-size: 25px;
}

.social__num {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

/*Pratice
=======================*/

.pratice {
    display: flex;
}

.pratice__item {
    width: 50%;
}

.pratice__item--photo {
    background: url(img/case.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.pratice__item--content {
    position: relative;
    background: url(img/222.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.pratice__item--content:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(157,134,101, .9);
    z-index: 2;
}

.pratice__inner {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 110px auto;
    position: relative;
    z-index: 3;
}

.pratice__title {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: 700;
    color: #fff;
}

.pratice__title:after {
    content: '';
    display: block;
    width: 55px;
    height: 3px;
    background-color: #fff;
    margin: 20px 0;
}

.pratice__content {
    margin: 50px 0 50px 90px;
    position: relative;
}

.pratice__content:last-child {
    margin-bottom: 0;
}

.pratice__icon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: -90px;
    z-index: 10;
    fill: #E7C28C;
}

.pratice__content__title {
    margin-bottom: 10px;
    font-family: 'Merriweather', serif;
    font-size: 26px;
    font-weight: 400;
    color: #fff;
}

.pratice__content__text {
    font-size: 16px;
    color: #D9D0C3;
    line-height: 1.5;
}

.pratice__img {
    width: 100%;
    height: 100vh;
}

/*Benefits
=======================*/

.benefits {
    padding: 60px 0;
    background: url(img/benefitbg.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.benefits:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    z-index: 2;
}

.benefit__container {
    max-width: 90%;
    margin: 0 auto;
    padding: 110px 125px;
    border: 1px solid #686868;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
}

.benefit__suptitle {
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    color: #b1976b;
    letter-spacing: 3px;
    font-weight: 600;
}

.benefit__title {
    margin-top: 15px;
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: 700;
    color: #fff;
}

.benefit__title:after {
    content: '';
    display: block;
    width: 1px;
    height: 35px;
    background-color: #b1976b;
    margin: 15px auto 55px;
}

.text__inner {
    margin-bottom: 90px;
    width: 100%;
    display: flex;
}

.text__item {
    width: 50%;
    margin-right: 25px;
    font-size: 17px;
    color: #c4c4c4;
    line-height: 1.5;
    font-weight: 400;
}

.text__item:last-child {
    margin-right: 0;
}

.stat {
    display: flex;
    flex-wrap: wrap;
}

.stat__item {
    width: 25%;
    text-align: center;
}

.stat__num {
    margin-bottom: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 54px;
    font-weight: 700;
    color: #fff;
}

.stat__text {
    font-family: 'Merriweather', serif;
    color: #b1976b;
    font-weight: 400;
}

/*Biography
=======================*/

.biography {
    display: flex;
}

.biography__item {
    width: 50%;
}

.biography__item--photo {
    background: url(img/biography.JPG) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.biography__item--content {
    background: #131313;
}

.biography__inner {
    width: 80%;
    margin: 190px auto;
    display: flex;
    flex-direction: column;
}

.biography__title {
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.biography__main__text {
    font-size: 20px;
    color: #b1966a;
    line-height: 1.6;
}

.biography__main__text:after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: #b1966a;
    margin: 30px 0 20px;
}

.biography__text {
    font-size: 17px;
    font-weight: 400;
    color: #c5c5c5;
    line-height: 1.5;
}

/*Education
=======================*/

.education {
    display: flex;
}

.education__item {
    width: 50%;
}

.education__item--photo {
    background: url(img/education.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.education__item--content {
    background: #222222;
}

.education__inner {
    width: 80%;
    margin: 170px auto;
    display: flex;
    flex-direction: column;
}

.education__title {
    margin-bottom: 35px;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.education__introtext {
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 400;
    color: #c5c5c5;
    line-height: 1.5;
}

.education__text {
    font-size: 16px;
    font-weight: 400;
    color: #b1976b;
    line-height: 1.5;
}

.education__text:after {
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: #f6f6f6;
    margin: 25px 0;
}

/*Cases
=======================*/

.cases {
    padding: 110px 0 200px;
    background: url(img/casesbg.JPG) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.cases:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,.9);
    z-index: 2;
}

.cases__container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
}

.cases__suptitle {
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    color: #a69279;
    letter-spacing: 2px;
    font-weight: 600;
}

.cases__title {
    margin-top: 10px;
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: 700;
    color: #1d1d1d;
}

.cases__title:after {
    content: '';
    display: block;
    width: 1px;
    height: 35px;
    background-color: #b1976b;
    margin: 15px auto 55px;
}

.cases__inner {
    width: 100%;
    max-width: 1240px;
    display: flex;
    justify-content: space-between;
}

.cases__item {
    width: 386px;
    background: #fff;
}

.cases__img {
    width: 100%;
    display: block;
    overflow: hidden;
}

.cases__text {
    padding: 45px 0 45px 35px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

/*Reviews
=======================*/

.reviews {
    padding: 60px 0;
    background: url(img/review.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
}

.reviews:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: 2;
}

.reviews__container {
    max-width: 90%;
    margin: 0 auto;
    padding: 90px 180px;
    border: 1px solid #686868;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
}

.reviews__suptitle {
    font-size: 14px;
    text-transform: uppercase;
    color: #b1976b;
    letter-spacing: 3px;
    font-weight: 600;
}

.reviews__title {
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    font-weight: 700;
    color: #fff;
}

.reviews__title:after {
    content: '';
    display: block;
    width: 1px;
    height: 25px;
    background-color: #b1976b;
    margin: 15px auto 50px;
}

.reviews__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reviews i {
    margin-bottom: 30px;
    font-size: 60px;
    color: #AA9B7A;
}

.reviews__text {
    width: 100%;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-size: 20px;
    color: #c9c9c9;
    line-height: 1.5;
    text-align: center;
}

.reviews__author {
    margin: 20px 0 8px;
    color: #fff;
    font-family: 'Merriweather', serif;
    font-size: 19px;
    font-weight: 400;
}

.reviews__prof {
    color: #b1a17d;
    font-size: 15px;
    font-weight: 400;
}

/*Slider
=======================*/

.slider {
    width: 100%;
}

.slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.slick-dots li {
    margin: 15px 5px 0;
}

.slick-dots button {
    padding: 0;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    border: 0;
    opacity: .5;
    font-size: 0;
    color: transparent;
    cursor: pointer;
}

.slick-dots .slick-active button {
    opacity: 1;
}

.slick-dots button:focus {
    outline: 0;
}

/*Footer
=======================*/

.footer {
    display: flex;
}

.footer__item {
    width: 50%;
}

.footer__item--contact {
    background: #f5f5f5;
}

.contact__inner {
    max-width: 80%;
    margin: 170px auto;
    display: flex;
    flex-direction: column;
}

.footer__title {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    color: #272727;
}

.footer__title:after {
    content: '';
    display: block;
    width: 45px;
    height: 3px;
    background-color: #9F8862;
    margin: 15px 0 35px;
}

.contact__num {
    margin-bottom: 40px;
    font-size: 26px;
    font-weight: 500;
    color: #b1976b;
}

.info {
    display: flex;
    flex-direction: column;
}

.contact__mail {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.contact__mail i {
    margin-right: 10px;
    font-size: 15px;
    color: #b1976b;
}

.contact__mail a {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 17px;
    font-weight: 400;
}

.contact__mail a:hover {
    text-decoration: underline;
}

.contact__time {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.contact__time i {
    margin-right: 10px;
    font-size: 15px;
    color: #b1976b;
}

.contact__time__text {
    color: #6c6c6c;
    font-size: 17px;
    font-weight: 400;
}

.contact__adress {
    margin-bottom: 35px;
    display: flex;
    align-items: center;
}

.contact__adress i {
    margin-right: 10px;
    font-size: 15px;
    color: #b1976b;
}

.contact__adress a {
    text-decoration: none;
    color: #6c6c6c;
    font-size: 17px;
    font-weight: 400;
}

.contact__adress a:hover {
    text-decoration: underline;
}

.contact__text {
    font-size: 16px;
    color: #a3a3a3;
    line-height: 1.7;
    font-weight: 500;
}

.footer__item--consultation {
    background: url(img/contacts.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.consultation__inner {
    margin: 155px 80px 145px 70px;
    display: flex;
    flex-direction: column;
}

.consultation__text {
    font-size: 16px;
    font-weight: 500;
    color: #6d6d6d;
    line-height: 1.5;
}

/*Form
=======================*/

.form__inner {
    margin-top: 40px;
    width: 100%;
    max-width: 610px;
    display: flex;
    flex-wrap: wrap;
}

.input__item {
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 15px;
    width: 295px;
    height: 60px;
    background-color: #f5f5f5;
    border: 0;
    font-family: 'Montserrat', serif;
    font-size: 15px;
    color: #6d6d6d;
    font-weight: 400;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.input__item::placeholder {
    font-family: 'Montserrat', serif;
    font-size: 15px;
    color: #6d6d6d;
    font-weight: 400;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.input__item:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.input__item--message {
    width: 610px;
    height: 155px;
}

.btn {
    width: 610px;
    height: 60px;
    background-color: #B1976B;
    border: 0;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    transition: background .1s linear;
}

.btn:hover {
    background-color: #97845E;
}

/*Media
=======================*/

/* 1300 px
=======================*/
@media (max-width: 1300px) {

    /* Intro */
    .intro__inner {
        margin-top: 180px;
        margin-bottom: 80px;
    }

    /* Reviews */
    .reviews__container {
        padding: 90px 130px;
    }
}

/* 1200 px
=======================*/
@media (max-width: 1200px) {

    /* Nav-toggle */
    .nav-toggle {
        display: block;
    }

    /* Nav */
    .nav {
        display: none;
    }

    .nav.active {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100vh;
        background-color: #1e1e1e;
    }

    .nav__link {
        display: block;
        margin: 0;
        font-size: 20px;
        padding: 30px 0;
    }

    /* Pratice */
    .pratice__item--photo {
        display: none;
    }

    .pratice__item--content {
        width: 100%;
    }

    .pratice__inner {
        width: 60%;
    }

    .pratice__title {
        text-align: center;
    }

    .pratice__title:after {
        margin: 30px auto;
    }

    /* Benefits */
    .benefit__container {
        padding: 90px 80px;
    }

     /* Reviews */
    .reviews__container {
        padding: 90px 100px;
    }
}


/* 1100 px
=======================*/
@media (max-width: 1100px) {

    br {
        display: none;
    }

    /* Intro */
    .intro__title {
        font-size: 54px;
    }

    /* Benefits */
    .benefit__container {
        padding: 60px 50px;
    }

    .text__inner {
        padding: 0 70px;
        margin-bottom: 60px;
    }

    .text__item:first-child {
        display: none;
    }

    .text__item:last-child {
        width: 100%;
        text-align: center;
    }

    /* Biography */
    .biography__inner {
        margin: 150px auto;
    }

    /* Education */
    .education__inner {
        margin: 150px auto;
    }

    /* Reviews */
    .reviews__container {
        padding: 60px 100px;
    }
}

/* 991 px
=======================*/
@media (max-width: 991px) {

    /* Intro */
    .intro__item--photo {
        display: none;
    }

    .intro__item--content {
        width: 100%;
    }

    .intro__inner {
        text-align: center;
        align-items: center;
    }

    /* Pratice */
    .pratice__inner {
        width: 70%;
    }

    /* Benefits */
    .benefit__container {
        padding: 50px 40px;
    }

    .benefit__title {
        font-size: 35px;
    }

    .benefit__title:after {
        margin-bottom: 35px;
    }

    .text__inner {
        padding: 0;
        margin-bottom: 40px;
    }

    .stat__num {
        font-size: 40px;
        margin-bottom: 10px;
    }

    /* Biography */
    .biography__item--photo{
        display: none;
    }

    .biography__item--content {
        width: 100%;
    }

    .biography__inner {
        text-align: center;
        margin: 100px auto;
    }

    .biography__main__text:after {
        margin: 30px auto;
    }

    /* Education */
    .education__item--photo{
        display: none;
    }

    .education__item--content {
        width: 100%;
    }

    .education__inner {
        text-align: center;
        margin: 100px auto;
    }

    .education__text:after {
        margin: 25px auto;
    }

    /* Reviews */
    .reviews {
        padding: 40px 0;
    }
    .reviews__container {
        padding: 50px 100px;
    }

    /* Footer */
    .contact__inner {
        max-width: 90%;
        margin: 120px auto;
    }
}

/* 767 px
=======================*/
@media (max-width: 767px) {

    /* Pratice */
    .pratice__inner {
        width: 80%;
    }

    /* Benefits */
    .stat__item {
        margin-bottom: 10px;
        width: 50%;
    }

    /* Biography */
    .biography__main__text {
        line-height: 1.4;
    }

    /* Education */
    .education__inner {
        width: 90%;
        margin: 60px auto;
    }

    .education__text:after {
        margin: 15px auto;
    }

    /* Reviews */
    .reviews {
        padding: 25px 0;
    }

    .reviews__container {
        max-width: 95%;
        padding: 40px 60px;
    }

    .reviews__title {
        font-size: 35px;
    }

    .reviews__title:after {
        margin-bottom: 20px;
    }

    .reviews__text {
        font-size: 16px;
    }

    .reviews__author {
        font-size: 16px;
    }

    /* Footer */
    .footer__item--consultation {
        display: none;
    }

    .footer__item--contact {
        width: 100%;
        text-align: center;
    }

    .contact__inner {
        margin: 50px auto;
    }

    .footer__title:after {
        margin: 15px auto 35px;
    }

    .info {
        align-items: center;
    }

    .contact__adress {
        margin-bottom: 0;
    }
}

/* 515 px
=======================*/
@media (max-width: 515px) {

    /* Intro */
     .intro__item--content {
        height: auto;
        width: auto;
    }

    .intro__inner {
        margin-top: 120px;
    }

    .intro__title {
        margin: 20px 0;
        font-size: 44px;
    }

    .intro__text {
        font-size: 14px;
        line-height: 1.4;
    }

    .signature {
        margin: 15px 0;
        height: 30px;
        width: 90px;
    }

    /* Pratice */
    .pratice__inner {
        width: 90%;
        margin: 60px auto;
    }

    .pratice__title {
        font-size: 35px;
    }

    .pratice__content {
        margin: 25px auto;
        text-align: center;
    }

    .pratice__icon {
        margin-bottom: 10px;
        position: static;
    }

    .pratice__content__title {
        font-size: 24px;
    }

    .pratice__content__text{
        line-height: 1.4;
    }

     /* Benefits */
    .benefits {
        padding: 25px 0;
    }

    .benefit__container {
        padding: 30px 20px;
    }

    .stat__item {
        width: 100%;
    }

    /* Biography */
    .biography__inner {
        width: 90%;
        margin: 60px auto;
    }

    /* Reviews */
    .reviews__text {
        line-height: 1.4;
    }

    .reviews i {
        margin-bottom: 25px;
        font-size: 40px;
    }
}

/* 400 px
=======================*/
@media (max-width: 400px) {

    /* Intro */
    .intro__inner {
        margin-top: 90px;
    }

    .intro__title {
        font-size: 35px;
    }

    /* Pratice */
    .pratice__inner {
        margin: 40px auto;
    }

    .pratice__content {
        margin: 15px auto;
    }

    /* Benefits */
    .benefits {
        padding: 20px 0;
    }

    .benefit__container {
        padding: 20px 0;
        border: 0;
    }

    .benefit__suptitle {
        font-size: 12px;
    }

    .benefit__title {
        font-size: 30px;
    }

    .benefit__title:after {
        margin-bottom: 25px;
    }

    .text__inner {
        margin-bottom: 30px;
    }

    /* Biography */
    .biography__main__text {
        font-size: 16px;
    }

    .biography__text {
        font-size: 14px;
    }

    /* Education */
    .education__inner {
        margin: 40px auto;
    }

    .education__title {
        margin-bottom: 25px;
    }

    /* Reviews */
    .reviews__container {
        padding: 20px 0;
        border: 0;
    }

    .reviews__text {
        font-size: 14px;
    }

    /* Footer */
    .contact__inner {
        max-width: 100%;
    }
}









































